@import "base";

.t0{
  background-color: white;
}
.t1{
  background-color: black;
}
.t2{
  background-color: white;
}
.t3{
  #main{
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-right: -50px;
    display:block;
  }
}
.t4{

}
.t5{

}
.t6{

}
.t7{

}
.t8{

}
.t9{

}