@import "base";

.html1{
&.t0{

}
&.t1{
  background-color: white;
}
&.t2{
  #drop{
    top: 50%;
    left: -50px;
  }
}
&.t3{
  #drop{
    display:block;
  }
}
&.t4{
  #drop{
    left: 50%
  }
}
&.t5{

}
&.t6{

}
&.t7{

}
&.t8{

}
&.t9{

}
}