html, body{
  position: relative;
  width: 100%;
  height: 100%;
}

body{
  background-color: black;
}

#drop{
  display:none;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  position: absolute;
  background-color:red;
  border-radius: 50px;
  transition: 2s linear;
}

.html0{
&.t0{
  background-color: white;
}
&.t1{
  background-color: black;
}
&.t2{
  background-color: white;
  #drop{
    top: 50%;
    right: 50%;
  }
}
&.t3{
  #drop{
    display:block;
  }
}
&.t4{
  #drop{
    right:-50%;
  }
}
&.t5{

}
&.t6{

}
&.t7{

}
&.t8{

}
&.t9{

}
}

.html1{
&.t0{

}
&.t1{
  background-color: white;
}
&.t2{
  #drop{
    top: 50%;
    left: -50%;
  }
}
&.t3{
  #drop{
    display:block;
  }
}
&.t4{
  #drop{
    left: 50%;
    &:before, &:after{
      content: "";
      width: 0;
      height: 0;
    }
  }
}
&.t5{
  #drop{
    width: 100%;
    margin-left: 50%;
    &:before{}
    &:after{}
  }
}
&.t6{

}
&.t7{

}
&.t8{

}
&.t9{

}
}

.html2{
&.t0{

}
&.t1{

}
&.t2{
  background-color: white;
}
&.t3{

}
&.t4{

}
&.t5{

}
&.t6{

}
&.t7{

}
&.t8{

}
&.t9{

}
}