body{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
}

#drop{
  display:none;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  position: absolute;
  background-color:red;
  border-radius: 50px;
  transition: 2s linear;
}
.html0.t0{
  background-color: white;
}
.html0.t1{
  background-color: black;
}
.html0.t2{
  background-color: white;
}
.html0.t2 #drop{
  top: 50%;
  right: 50%;
}
.html0.t3 #drop{
  display:block;
}
.html0.t4 #drop{
  right:-50%;
}
.html0.t5 #drop{
  right: 50%;
}
.html0.t6 #drop{
  right:-50%;
}
.html0.t7 #drop{
width: 5000px;
margin-left: -2500px;
height: 5000px;
margin-top: -2500px;
border-radius: 2500px;
}
.html1.t1{
  background-color: white;
}
.html1.t2 #drop{
  top: 50%;
  left: -50%;
}
.html1.t3 #drop{
  display:block;
}
.html1.t4 #drop{
  left: 50%;
}
.html1.t5 #drop{
  left: -50%;
}
.html1.t6 #drop{
  left: 50%;
}
.html1.t7 #drop{
width: 5000px;
margin-left: -2500px;
height: 5000px;
margin-top: -2500px;
border-radius: 2500px;
}
.html2.t2{
  background-color: white;
}
.html2.t6 #drop{
  top: 50%;
  left: -50%;
  display: block;
}
.html2.t7 #drop{
width: 5000px;
margin-left: -2500px;
height: 5000px;
margin-top: -2500px;
border-radius: 2500px;
}