@import "base";
.html0{
&.t0{
  background-color: white;
}
&.t1{
  background-color: black;
}
&.t2{
  background-color: white;
  #drop{
    top: 50%;
    right: 50%;
  }
}
&.t3{
  #drop{
    display:block;
  }
}
&.t4{
  #drop{
    right:-50px;
  }
}
&.t5{

}
&.t6{

}
&.t7{

}
&.t8{

}
&.t9{

}
}